body {
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
    background-color:#79C879;
    color:#FFF;
}

.left { float:left; }
.right { float:right; }

.content {
    width:55%;
}

ul.experience {
    clear:both;
    height: auto;
    list-style-type:none;
}

ul.tasks {
    list-style-type:none;
    clear:both;
    float:left;
}

li.exp-item {
    text-align:left;
    overflow:hidden;
    margin:5px;
}

.description {
    overflow:auto;
    height:150px;
    padding:10px;
}

.jobtitle {
    float:left;
    margin:5px 0 5px 0;
}

.date {
    float:right;
    margin:5px 0 5px 0;
    text-align:right;
}

.icon {
    display:table-cell;
    vertical-align:middle;
    margin:5px;
}

.icon img {
    height:150px;
    width:150px;
    display:block;
    margin:auto auto;
    border-radius:10px;
}
